* {
    background-color: rgb(0, 0, 0) !important;
    color: white !important;
    border-color: white !important;
  }
  
  a:link,
  a:visited,
  a:hover,
  a:active {
    color:  #25edff !important; 
  }  